/* Add a hover effect to the image container */
.thumbnail:hover {
    opacity: 0.7;
    transition: opacity 0.3s;
}


.dropdown-item .nested-dropdown {
    margin-top: 5px;
    border-top: 3px solid #ccc;
    padding-top: 5px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for hover effects */
    /*background-color: transparent; !* Keeps background unchanged *!*/
    /*color: inherit; !* Text color remains the same *!*/
}

/* Apply hover effect only to nested dropdown items */
.nested-dropdown .dropdown-item:hover {
    background-color: #e6e6e6; /* Light grey background for hovered item */
    color: #333; /* Darker text color for better visibility */
}

.nested-dropdown .dropdown-item {
    border-bottom: 1px solid #ccc;
    color: #495057; /* Slightly darker text for nested items */
    /*margin-left: 10px; !* Indent nested items to visually distinguish hierarchy *!*/
}
