/* Base styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Light grey background */
    color: #333;
    overflow-y: scroll; /* Ensure body can scroll */
}

.custom-shadow {
    box-shadow: rgba(0, 0, 0, 0.07) 0 1px 15px, rgba(0, 0, 0, 0.07) 0 1px 6px;
}

#root {
    background-color: rgb(242, 243, 249);
    width: 100%;
    min-height: 100vh;
    position: absolute;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #2c3e50;
}

.pointer-cursor:hover {
    cursor: pointer;
}

button {
    background-color: #2c3e50
}

#error-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure it is above other elements */
}

.read-only-form .form-control,
.read-only-form .form-check-input {
    background-color: #e9ecef; /* Light grey background */
    cursor: not-allowed; /* Change cursor to indicate non-editable */
    pointer-events: none; /* Disable all pointer events */
}


.modal.show {
    animation: fadeIn 0.3s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
