/* Make the map div fill the entire parent (map) */
#googlemap {
    height: 1000px;
    /*height: 100%;*/
    width: 100%;
}

.popup-content {
    width: auto;
    max-width: 90vw;
    height: auto;
    max-height: 80vh;
    overflow: auto;
    padding: 1rem;
}
