#googlemap {
    width: 100%;
    overscroll-behavior: contain;
}

.popup-content {
    width: auto;
    max-width: 90vw;
    height: auto;
    max-height: 80vh;
    overflow: auto;
    padding: 1rem;
}
