

.card-img-top {
    height: 200px;
    object-fit: cover;
    width: 100%;  /* Redundant if using .img-fluid, shown here for clarity */
}


.no-results-container {
    display: none; /* Hide by default */
    flex-direction: column; /* Stack items vertically */
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    padding: 20px; /* Padding for better spacing on mobile */
}

.no-results-container img {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
    border-radius: 15px; /* Rounded corners for the image */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow to the image */
}

@media (max-width: 768px) {
.no-results-container img {
        max-width: 90%;
        max-height: 90%;
    }
}


/**************** ADVERTISEMENT SPINNER ***************/

.loader-container {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.spinner {
    border: 6px solid rgba(0, 0, 0, 0.1); /* Light grey border */
    border-radius: 50%;
    border-top: 6px solid #3498db; /* Blue border */
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/**************** ADVERTISEMENT SKELETON ***************/
.skeleton-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.skeleton-card {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 300px;
    animation: pulse 1.5s infinite;
}

.skeleton-image {
    background-color: #e0e0e0;
    height: 150px;
}

.skeleton-info {
    padding: 15px;
}

.skeleton-title, .skeleton-text {
    background-color: #e0e0e0;
    height: 20px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.skeleton-title {
    width: 60%;
}

.skeleton-text {
    width: 80%;
}

@keyframes pulse {
    0% {
        background-color: #e0e0e0;
}
    50% {
        background-color: #f0f0f0;
}
    100% {
        background-color: #e0e0e0;
}
}




/* Sliders */
/* Customizing the slider handles */
.noUi-handle {
    background: #FFFFFF; /* White background for a clean look */
    border: 1px solid #CCCCCC; /* Light grey border to match the site's neutral palette */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow for depth */
    cursor: pointer; /* Cursor indicates interactivity */
    height: 24px; /* Slightly larger for easier interaction */
    width: 24px; /* Maintain a square appearance */
    border-radius: 12px; /* Fully rounded edges for a modern, button-like feel */
    outline: none; /* Remove default focus outline */
    top: -10px; /* Positioning adjustment to align with the slider bar */
}

/* Customizing the slider bar to be more subtle */
.noUi-base {
    height: 4px; /* Thinner bar for a more refined look */
    background: #E0E0E0; /* Light grey background */
}

/* Customizing the connect bar */
.noUi-connect {
    /*background: #76B041; !* A vibrant green to match the action buttons on your site *!*/
    background:  #2c3e50; /* A vibrant green to match the action buttons on your site */
    height: 4px; /* Keep the connect bar subtle */
}


.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto; /* Enable scrolling */
    border: 1px solid #ccc; /* Basic border styling */
    background-color: white; /* Background color */
}



/*Small screens*/
@media (min-width: 576px) {
    .advertisement-card {
        transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions for transform and shadow */
        box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Initial mild shadow */
        cursor: default; /* Dont change cursor on card, since the card itself will be hovering */
    }

    .advertisement-card:hover {
        transform: translateY(-5px) scale(1.03); /* Lift and slightly scale up the card */
        box-shadow: 0 10px 20px rgba(0,0,0,0.2); /* Deeper shadow for lifted effect */
    }


    /* Hide the favorite icon by default */
    .advertisement-card .favorite-icon {
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    /* Show the favorite icon when the card is hovered */
    .advertisement-card:hover .favorite-icon {
        opacity: 1;
    }

}

/*Large screens and up*/
@media (max-width: 576px ) {
    .advertisement-card:hover .favorite-icon {
        opacity: 1;
    }
}


