.carousel-inner img {
    max-height: 550px; /* Adjust the height as needed */
    object-fit: cover; /* Ensures the image covers the area while maintaining aspect ratio */
    border-radius: 15px; /* Adds rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
}

#fullImageModal .modal-content {
    background: black;  /* Optional: for a different modal background */
}

#fullImageModal .modal-body {
    padding: 0;  /* Removes padding around the image */
}

#fullImageModal img {
    /*height: auto;  !* Ensures the image is not stretched vertically *!*/
    max-height: 100vh;  /* Ensures the image does not exceed the viewport height */
}

/* Assuming no border by default, apply only on large screens */
.vertical-line {
    border-left: none; /* Optional: Explicitly no border on smaller screens */
}
.horizontal-line {
    border-top: none; /* Optional: Explicitly no border on smaller screens */
}

@media (min-width: 992px) {
    .vertical-line {
        border-left: 1px solid #ccc; /* Change #ccc to whatever color suits your design */
    }
}


@media (max-width: 992px) {
    .horizontal-line {
        border-top: 1px solid #ccc; /* or your chosen style */
        margin: 20px 0;
    }
}
